@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

body {
    width:auto;
    font-family: 'Merriweather', serif;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
  
h1{
  color: orange !important;
  font-family: 'Merriweather', serif;
  text-align: center;
}

h3{
  color: orange !important
}

figure{
  margin:3px;
}

.banana{
  text-align:center;
  border-spacing: 0;
}

.button{
  border:white solid 1px;
  color:black !important;
  background: white;
  margin-bottom: 5%;
}

.button:hover{
  border:lightgreen solid 1px;
  background: lightgreen;
  color:white !important;
}.red:hover{
  background:red;
  color:black !important;
  border:none;
}

.box{
  margin-top:5%;
  border: solid lightgreen 1px;
  position: center;
  text-align: center;
  }

.navback{
  color: orange !important;
}

img.profilepic{
  width:150px;
  height:150px;
  border-radius:200px;
  margin:3px;
}

.profilepiclist{
  width: 120px;
  height:120px;
  border-radius:200px;
  margin:3px;
}
.costumis{
  background:transparent;
  float:left;
  height:5%;
  width:5%;
}

.section{
  margin-top:50px;
  text-align:center;
}

.titlealbum {
  margin: 5px;
  background-repeat: no-repeat;
  color: orange;
  background-color: red;
  font-size: 140%;
  font-weight: normal;
  line-height: 260px;
  background-size: 300px !important;
  text-align: center;
  width: 240px !important;
  height: 150px !important;
  text-decoration: none;
}
