
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.navbutton{
    background:#ffe49e;
    border-color: orange;
    color:orange;
}

.navbutton:hover{
    background:orange;
    border-color:orange;
}

.navtext{
    border-color: orange;
}
.navtext:focus{
    border-color: orange;
}
h1{
    color:#0000FF;
}

h2{
    color:#FF0000;
}

.item{
    color:black !important;
}

.brand{
    color:orange !important;
}

.item:hover{
color:white !important;
background:orange;
}

.navback{
  background-color: white;
  border-radius: 12px;
}

.nav-item-back{
background-color: white;
margin: 2px;
}

.containerbox{
width: 30%;
}

.col-box{
width:40%;
height: 100%;
float:left;
margin-left:5%;
}

.row-box{
width:100%;
}


