<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Richiesta inviata</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/resources/css/main.css">
    <link rel="stylesheet" href="/resources/css/navbar.css">
</head>
<body>
    <div th:insert="fragments/navbar :: navbar"></div>
    <h1> Grazie per aver scelto silph s.p.a ! </h1>
    <h1> La tua richiesta verrà esaminata da un amministratore il prima possibile :)</h1>
</body>
