<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Latest album</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/resources/css/main.css">
    <link rel="stylesheet" href="/resources/css/navbar.css">


</head>

<body>
    <div class="container-fluid">
        <div th:insert="fragments/navbar :: navbar" />
        <div class="row">
            <div class="col1">
                <table>
                    <div th:each="fotografo : ${fotografi}">
                        <tr>
                            <td th:text="${fotografo.nome}"></td>
                            <td>&nbsp;&nbsp&nbsp</td>
                            <td>
                                <a th:href="@{'/paginaAdmin/cancellaFotografo' + '/' + ${fotografo.id}}">
                                    <input type="button" class="button red" value="Cancella">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3"> <img style="border-radius:180px" width="100px" height="100px" th:src="${fotografo.picUrl}"> </td>
                        </tr>
                    </div>
                </table>
            </div>
        </div>
    </div>
</body>

</html>