<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>login</title>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/resources/css/login.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/resources/css/main.css">
  <link rel="stylesheet" href="/resources/css/navbar.css">
</head>

<body>
  <div class="container-fluid">
    
    <div class="row">
      <div class="container login-container">

    <div class="container-fluid">
        <div th:insert="fragments/navbar :: navbar" />
        <div class="row">

          <form action="loginValidator" method="POST" enctype="text/plain">
            <input type="submit" value=" aaa">
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- reCaptcha v2-->
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</body>
</html>