<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Latest album</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/resources/css/main.css">
  <link rel="stylesheet" href="/resources/css/navbar.css">


</head>

<body>
  <div class="container-fluid">
    <div th:insert="fragments/navbar :: navbar" />
    <div clas="row">
      <form th:action="@{/modifica}" th:object="${fotografo}" enctype="multipart/form-data" method="POST">
        <table>
          <tr>
            <td>Nome: </td>
            <td th:text="${fotografo.nome}"></td>
            <td>Nuovo nome:</td>
            <td><input type="text" name="newName"> </td>
          </tr>
          <tr>
            <td>Foto profilo:</td>
            <td><img th:src="${fotografo.picUrl}" style="width:100px;height:100px;"></td>
            <td></td>
            <td><input type="file" name="newPic"></td>
          </tr>
          <tr>
            <td colpsan="2"><input type="submit" value="salva"></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</body>