<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Carrello</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/resources/css/main.css">
  <link rel="stylesheet" href="/resources/css/navbar.css">
  <link rel="stylesheet" href="/resources/css/gallery.css">
  <link rel="stylesheet" href="/resources/jscc/photoswipe.css">
  <link rel="stylesheet" href="/resources/jscc/default-skin/default-skin.css">
  <script src="/resources/jscc/photoswipe.min.js"></script>
  <script src="/resources/jscc/photoswipe-ui-default.min.js"></script>
</head>

<body>

  <div th:insert="fragments/navbar :: navbar"></div>
  <div class="container-fluid" th:if="${carrello}">
    <h1>Foto selezionate <a th:href="@{/carrello/svuotaCarrello}">(svuota carrello)</a></h1>
    <div class="row">
      <table th:each="foto:${carrello}">
        <tr>
          <th>
            <img th:src="${foto.url}" style="margin:3px;width:200px;height:120px;">
          </th>
        </tr>
        <tr>
          <td>
            <font face="Bedrock">
              <a th:href="@{'/carrello/rimuovi/' + ${foto.id}}">Rimuovi dal carrello</a>
            </font>
          </td>
        </tr>
      </table>
    </div>
    <div class="row">
      <a th:href="@{carrello/aggiungiDettagli}">
        <input class="button" type="button" value="Conferma selezione">
      </a>
    </div>
  </div>
  <div th:unless="${carrello}">
    <h1> Non hai ancora selezionato nessuna foto !</h1>
  </div>
</body>

</html>