<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gallery</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/resources/css/main.css">
    <link rel="stylesheet" href="/resources/css/navbar.css">
    <link rel="stylesheet" href="/resources/css/gallery.css">
    <link rel="stylesheet" href="/resources/jscc/photoswipe.css">
    <link rel="stylesheet" href="/resources/jscc/default-skin/default-skin.css">
    <script src="/resources/jscc/photoswipe.min.js"></script>
    <script src="/resources/jscc/photoswipe-ui-default.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div th:insert="fragments/navbar :: navbar" />
        <div class="row">
            
                <img src="${foto.url}" class="anteprima" th:each="fotografo : ${richiesta.foto}">
                    <a th:href="${foto.url}">
                        <img th:src="${foto.url}" itemprop="thumbnail" alt="Image description" widht="226" height="240" />
                    </a>
                </img>
            </div>
        </div>
    </div>
    <div th:insert="fragments/galleryScript :: galleryScript" />
</body>

</html>