<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/resource/css/main.css">
    <link rel="stylesheet" href="/resources/css/navbar.css">
    <title>s</title>
</head>

<body>
    <div class="container-fluid">
        <div th:insert="fragments/navbar :: navbar" />
        <div class="row">
            <div class="col1">
                <form th:action="@{/dettagli}" th:object="${dettagli}" th:method="POST">
                    <table>
                        <tr>
                            <td>Nome:</td>
                            <td><input type="text" th:field="*{nome}"> </td>
                        </tr>
                        <tr>
                            <td>Cognome:</td>
                            <td><input type="text" th:field="*{cognome}"></td>
                        </tr>
                        <tr>
                            <td>Numero di telefono:</td>
                            <td><input type="text" th:field="*{cellulare}"></td>
                        </tr>
                        <tr>
                            <td>Codice prepagata:</td>
                            <td><input type="text" th:field="*{codicePay}"></td>
                        </tr>
                    </table>
                    <br><input type="submit" value="Invia richiesta">
                </form>
            </div>
        </div>
    </div>
</body>

</html>