<!-- ACTION = foto -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/resources/css/main.css">
    <link rel="stylesheet" href="/resources/css/navbar.css">


</head>

<body>
    <div class="container-fluid">
        <div th:insert="fragments/navbar :: navbar" />
        <div class="row">
            <form th:action="@{/paginaAdmin/aggiungiFoto/foto}" th:object="${fotoForm}" method="POST" enctype="multipart/form-data">
                <table class="form">
                    <tr>

                        <td>Nome fotografo:  &nbsp;&nbsp;&nbsp;&nbsp; </td>
                        <td> <input type="text" th:field="*{nomeFotografo}"/> </td>
                    </tr>
                    <tr>
                        <td>Nome album: </td>
                        <td>
                                <input th:field="*{nomeAlbum}" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td>File da caricare: </td>
                        <td><input type="file" multiple="multiple" th:field="*{files}"></td>
                    </tr>
                    <tr>
                        <td>Hashtag:</td>
                        <td><input type="text" th:field="*{hashTagList}"></td>
                        

                    </tr>
                    <tr>
                        <td><input type="submit" value="Inserisci foto"></td>
                        <td>*Questi hashtag sono comuni per tutte le foto che stai caricando,
                            in seguito potrai aggiungerne di nuovi separatamente
                        </td>
                    </tr>
                </table>
                <span th:if="${#fields.hasErrors('nomeFotografo')}" th:errors="*{nomeFotografo}"></span><br>
                <span th:if="${#fields.hasErrors('nomeAlbum')}" th:errors="*{nomeAlbum}"></span><br>
                <span th:if="${#fields.hasErrors('files')}" th:errors="*{files}"></span><br>


            </form>
        </div>
    </div>

</body>

</html>