<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inserisci Fotografo</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/resources/css/main.css">
    <link rel="stylesheet" href="/resources/css/navbar.css">
    <link rel="stylesheet" href="/resources/css/loginfotografo.css">



</head>


<body>
    <div class="container-fluid">
        <div th:insert="fragments/navbar :: navbar" />
        <div class="col1">
            <form th:action="@{/fotografo}" method="POST" th:object="${fotografo}" enctype="multipart/form-data">
                Nome: <input type="text" th:field="*{nome}" name="nome"><br>
                <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"><br></span>
                <br>ProfilePic: <input type="file" name="pic"><br>
                <input type="submit" value="Inserisci"><br>
            </form>
        </div>
    </div>
</body>

</html>