<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/resources/jscc/photoswipe.css">
    <link rel="stylesheet" href="/resources/jscc/default-skin/default-skin.css">
    <link rel="stylesheet" href="/resource/css/main.css">
    <link rel="stylesheet" href="/resources/css/navbar.css">
    <link rel="stylesheet" href="/resources/css/gallery.css">

    <!-- Core JS file -->
    <script src="/resources/jscc/photoswipe.min.js"></script>

    <!-- UI JS file -->
    <script src="/resources/jscc/photoswipe-ui-default.min.js"></script>
    <title th:text="${fotografo.nome}" />
</head>

<body>
    <div class="container-fluid">
        <div th:insert="fragments/navbar :: navbar" />
        <div class="row">
            <h1 th:text="${fotografo.nome}" /><br>
            <img class="profilepic" th:src="${fotografo.picUrl}" style="width:10%;
            height:10%;
            border-radius:300px;">
            <div class="my-gallery gallery" itemscope itemtype="http://schema.org/ImageGallery">
                <figure th:each="foto : ${fotografo.foto}" class="anteprimafotografo" itemprop="associatedMedia" itemscope
                    itemtype="http://schema.org.ImageObject">
                    <a th:href="${foto.url}" itemprop="contentUrl" data-size="1024x1024">
                        <img th:src="${foto.url}" itemprop="thumbnail" alt="Image description" widht="226"
                            height="240" />
                    </a>
                </figure>
            </div>
        </div>
    </div>
    <div th:insert="fragments/galleryScript :: galleryScript" />

</body>

</html>